<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GestionProjets</servlet-name>
        <servlet-class>com.bdeb.gestion_projets.servlets.GestionProjets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeProjets</servlet-name>
        <servlet-class>com.bdeb.gestion_projets.servlets.listeProjets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeDemandes</servlet-name>
        <servlet-class>com.bdeb.gestion_projets.servlets.ListeDemandes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProjet</servlet-name>
        <servlet-class>com.bdeb.gestion_projets.servlets.DetailProjet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.bdeb.gestion_projets.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeUtilisateurs</servlet-name>
        <servlet-class>com.bdeb.gestion_projets.servlets.listeUtilisateurs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerDemande</servlet-name>
        <servlet-class>com.bdeb.gestion_projets.servlets.EnvoyerDemande</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionProjets</servlet-name>
        <url-pattern>/GestionProjets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeProjets</servlet-name>
        <url-pattern>/listeProjets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeDemandes</servlet-name>
        <url-pattern>/ListeDemandes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProjet</servlet-name>
        <url-pattern>/DetailProjet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeUtilisateurs</servlet-name>
        <url-pattern>/listeUtilisateurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerDemande</servlet-name>
        <url-pattern>/EnvoyerDemande</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
